:root {
  --PrimaryColor: #00c2de;

  --OneColor: #fff;
  --TwoColor: #000;
  --ThreeColor: #92ff00;
  --FourColor: #ff0015;
  --FiveColor: #ff2e00;
  --SixColor: #bbc0dd;

  --OneBoxShadow: 0 0 2.5rem rgba(0, 0, 0, .5);
  --TwoBoxShadow: inset 0 0 1.25rem rgba(0, 194, 222, .5);
  --ThreeBoxShadow: inset 0 0 2.5rem rgba(0, 194, 222, .5);

  --OneFontFamily: 'Racing Sans One', sans-serif;
  --TwoFontFamily: 'Racing Sans One', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

body {
  font-family: var(--OneFontFamily);
  background: var(--TwoColor);
  letter-spacing: .05rem;
  cursor: default;
}
